<!DOCTYPE html>
<html>
<head>
    <title>mapMe</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='custom.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='pico.min.css') }}"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    
</head>
<body>
    <div class="container">
        <nav>
            <ul>
              <!-- <li><a href="#" class="secondary"><img class="icon" src="{{ url_for('static',filename='logo.png') }}"></a> -->
            </ul>
            <ul>
              <li><strong>MapMe</strong></li>
            </ul>
            <ul>
              <li><a href="/mapping" class="secondary">Try It!</a></li>
            </ul>
        </nav>
        <hr>
        <section></section>
        <h4>Introduction</h4>
        <p>hi</p>
        <p>again</p>
        
    </div>
</body>
</html>
