
<!-- Main Content -->
<div class="container">
  <div class="centered">
    <p class="desc fade fade-in-slow">Your GPS for the internet</p>
    <button class="try-it fade fade-in-delay outline small-button" role="button" onclick="start_dialog.open()">Try It!</button>
  </div>

  <dialog class="start-dialog">
    <button class="close-button small-button">Start</button>
  </dialog>
  <!-- <div class="mini_map" style="width: 50%;">
      <div id="mini_map" style="height: 15em;  box-shadow: rgb(183, 179, 179) 1px 1px 7px;"></div>
  </div> -->
</div>

