<!DOCTYPE html>
<html data-theme="dark">
<head>
    <title>mapMe</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='custom.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='pico.min.css') }}"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script defer src="{{url_for('static', filename='js/main.js')}}"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
            integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
            crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>
    
</head>
<body>
    <div class="container">
        <h1 class="title"><a href="/">mapMe!</a></h1>
        <dialog id="dialog">
            <article style="width: 100%; display: inline-block!important">
                <b>ip: </b><span id="ip"></span><br>
                <b>hostname: </b><span id="hostname"></span><br>
                <b>coordinates: </b><span id="latitude"></span>, <span id="longitude"></span><br>
                <b>city: </b><span id="city"></span><br>
                <b>region: </b><span id="region"></span><br>
                <b>country: </b><span id="country"></span><br>
                <b>org: </b><span id="org"></span><br>
                <b>postal: </b><span id="postal"></span><br>
                <b>requests: </b><span id="requests"></span><br>
                <b>timezone: </b><span id="timezone"></span><br>

                <button onclick="document.getElementById('dialog').close()">close</button>
            </article> 
        </dialog>

        <div style="padding-bottom: .5em;">
            <div id="map" style="height: 75vh; box-shadow: rgb(183, 179, 179) 1px 1px 7px;"></div>
        </div>
        <div style="display: flex; flex-direction: row; justify-content:space-between;">
            <button class="small-button" onclick="start_tracking()">Start</button>
            <button class="small-button" onclick="stop_tracking()">Stop</button>
            <button class="small-button" onclick="clear_session()">Clear Session</button>
        </div>
        
        
        <details open>
            <summary>Requests Table</summary>
            <!-- <div id="">
                <table class="striped" style="font-size: .8em;">
                    <thead>
                      <tr>
                        <th scope="col"><strong>hostname</strong></th>
                        <td><strong>ip</strong></td>
                        <td><strong>region</strong></td>
                        <td><strong>location</strong></td>
                        <td><strong>organization</strong></td>
                        <td><strong>requests</strong></td>
                      </tr>
                    </thead>
                    <tbody>
                        {% for row in rows %}
                        <tr>
                            <td scope="row" class="host" onclick="pan(this)" id="{{row['hostname']}}">{{row['hostname']}}</td>
                            <td>{{row['ip']}}</td>
                            <td>{{row['region']}}, {{row['country']}}</td>
                            <td>{{row['latitude'], row['longitude']}}</td>
                            <td>{{row['org']}}</td>
                            <td>{{row['requests']}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>{{rows| length}}</td>
                            <td>{{rows | map(attribute='ip') | unique | list | length}}</td>
                            <td>{{rows | map(attribute='region') | unique | list | length}}</td>
                            <td>{{rows | map(attribute='latitude') | unique | list | length}}</td>
                            <td>{{rows | map(attribute='org') | unique | list | length}}</td>
                            <td>{{ rows | sum(attribute='requests') }}</td>
                        </tr>
                    </tfoot>
                  </table>
            </div>  -->
        </details>
        
        <section></section>
    
        
        <!-- <div id='chart' class='chart' style="height: 100%;"></div> -->
        
        <!-- <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
        <script type='text/javascript'>
            var graphs = {{graphJSON | safe}};
            Plotly.plot('chart',graphs,{});
        </script> -->
        
    </div>
</body>
</html>
